body {
    padding-top: 70px;
}

.row-fluid{
    margin-left: -27px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.welcome-text-box{
    height: 200px;
    width: 700px !important;
}

.welcome-text{
    font-size: 74px !important;
}