body {
    padding-top: 80px;
}

.table {
    max-width: none !important;
    word-wrap: break-word;
}

.row-fluid{
    margin-left: -27px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.welcome-text-box{
    height: 200px;
    width: 700px !important;
}

.welcome-text{
    font-size: 74px !important;
}

.brand {
    height: 38px !important;
    border-radius: 2px;
    margin-top: 6px;
    margin-left: 30px;
    margin-right: 30px;
}

.jumbotron {
    padding: 20px 40px !important;
}

.jumbotron h2 {
    margin-bottom: 1em;
}

.navbar .divider-vertical {
    height: 50px;
    margin: 0 9px;
    border-right: 1px solid #ffffff;
    border-left: 1px solid #f2f2f2;
}

.navbar-inverse .divider-vertical {
    border-right-color: #444;
    border-left-color: #222;
}

@media (max-width: 767px) {
    .navbar-collapse .nav > .divider-vertical {
        display: none;
    }
}